= stylesheet_link_tag 'usernew/new_telephone', media: 'all'
.top
  = image_tag "logo/logo.png", class: :top__image
  .box
    .form
    %h2.top__text
      電話番号の確認
    .form__text
      %label.textlabel(for="file")携帯電話の番号
    %input.input-text{name: :nickname, placeholder: :"携帯電話の番号を入力", type: :text}/
    %p.boxtext
      本人確認のため、携帯電話のSMS(ショートメッセージ
      %br/
      サービス)を利用して認証を行います。
    .sms
      = link_to new_address_items_path, class: "smsbtn" do
        送信する
      -# %button.smsbtn{type: :button}
        SMSを送信する
    %p.bottomtext
      ※電話番号は本人確認や不正利用防止のために利用し
      %br/
      ます。他のユーザーに公開されることはありません。
    =link_to "#", class: "numbercheck" do 
      電話番号の確認が必要な理由
  .bottomlink
    =link_to "#", class: "privacy" do
      プライバシーポリシー
    =link_to "#", class: "service" do
      利用規約
    =link_to "#", class: "notation" do
      特定商取引に関する表記
  .bottom
    = image_tag "logo/logo.png", class: :bottomlogo
  %p.logotext ©️ FURIMA