.Wrapper
  .lefside
    %nav.MypageNav
      %ul.MypageNav__list
        %li.MypageNav__items
          = link_to "#", class: "Items__icon"
            = icon('far', 'angle-right', class: "Items__icon--edit")