/* ヘッダー大枠 */
.single-header {
  background-color: #f8f8f8;
  position: relative;
  left: 7vw;
  height:128px;
  width: 768px;
  margin: 0 auto;
  &__logo{
    width: 185px;
    padding: 40px 0 0 0;
    float: left;
    &--center{
      width: 185px;
      padding: 40px 0 0 0;
      margin: 0 auto;
    }
    &a, img{
      height: 49px;
      line-height: 49px;
    }
  }

/* ヘッダーナビ */
  &__progress{
    padding: 40px 0 0 44px;
    width: 583px;
    box-sizing: border-box;
    float: left;

    & ol{
      list-style: none;
    }

    &__text{
      margin: 0 40px 0 0;
      position: relative;
      z-index: 1;
      display: inline-block;
      min-width: 40px;
      font-size: 12px;
      color: #888;
      text-align: center;

      &--active{
        font-weight: 100;
        color: #888;
        margin: 0 40px 0 0;
        position: relative;
        z-index: 1;
        display: inline-block;
        min-width: 40px;
        font-size: 12px;
        text-align: center;
      }
    }
/* ヘッダーのナビ丸 */
    &__round{
      width: 12px;
      height: 12px;
      margin: 8px auto 0;
      background: #ea352d;
      border-radius: 50%;
      &--red{
        background: #ea352d;
        width: 12px;
        height: 12px;
        margin: 8px auto 0;
        border-radius: 50%;
      }
    }
  }
}

/* li ナビの棒 */  
.single-header__progress__round::before {
  right: 35%;
  position: absolute;
  bottom: 5px;
  z-index: -1;
  display: block;
  content: '';
  width: 100%;
  height: 2px;
  background: #ea352d;
}

.single-header__progress__round::after, .single-header__progress__round--red::after {
  left: 50%;
  position: absolute;
  bottom: 5px;
  z-index: -1;
  display: block;
  content: '';
  width: 100%;
  height: 2px;
  background:#ea352d;
}

.single-header__progress__round--red::before {
  right: 15%;
  position: absolute;
  bottom: 5px;
  z-index: -1;
  display: block;
  content: '';
  width: 150%;
  height: 2px;
  background: #ea352d;
}

.single-header__progress__round--red::after {
  right: 50%;
  position: absolute;
  bottom: 5px;
  z-index: -1;
  display: block;
  content: '';
  width: 150%;
  height: 2px;
  background: #ea352d;
}


#long {
  right: 100%;
  position: absolute;
  bottom: 5px;
  z-index: -1;
  display: block;
  content: '';
  width: 150%;
  height: 2px;
  background: #ea352d;
}

#first ::before {
  right: 50%;
  position: absolute;
  bottom: 5px;
  z-index: -1;
  display: block;
  content: '';
  width: 100%;
  height: 2px;
  background: #f5f5f5;
}
#end{
  font-weight: 700;
  color: #ea352d;
}
#end ::after {
  left: 90%;
  position: absolute;
  left: 20;
  bottom: 5px;
  z-index: -1;
  width: 100%;
  height: 2px;
  background: #ea352d;
}

// heder
.top {
  height: 100vh;
  background-color: #f8f8f8;
  text-align: center;
  .box {
    background-color: #ffffff;
    width: 700px;
    height: 400px;
    margin: 0 auto;
  }
  
  &__text {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    padding: 40px;
  }
}
.nextbtn {
  text-decoration: none;
  font-size: 18px;
  line-height: 3;
  letter-spacing: 1.5;
  width: 350px;
  height: 55px;
  background-color: #3ccace;
  color: #ffffff;
  border-radius: 4px;
  text-align: center;
  margin: 0 auto;
}

.starbtn{
  margin-top: 60px;
}

.english {
  padding: 20px;
}
.bottom {
  .bottomlogo {
    padding-top: 30px;
    width: 100px;
    
  }
}
.logotext {
  padding-top: 10px;
}
.selectprefecture {
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
  width: 380px;
}
.bottomlink {
  padding-top: 80px;
  font-size: 14px;
}
.bottomtext {
  color: #333;
  font-size: 20px;
}
.privacy {
  text-decoration: none;
}
.service {
  padding-left: 10px;
  text-decoration: none;
}
.notation {
  padding-left: 10px;
  text-decoration: none;
}

.link:link,
.link:visited,
.link:hover,
.link:active{
  color: black;
  }
.label{
  margin-top: 5px;
}