


.newspan{
  margin-left: 8px;
  width: 30px;
  height: 15px;
  color: #fff;
  background-color: #ff2610;
  font-size: 12px;
  padding: 0 4px;
  font-weight: bold;
}

.newlabel{
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4em;
}
.upload-label{
  width: 630px;
  height: 150px;
  background-color: #f5f5f5;
  border: 1px dashed  #cecece;
}
.upload-label__text{
  font-size: 12px;
  position: relative;
  top: -100px;
  left: 160px;
}
.new{
  height: 2450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  &Top{
  width: 100%;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
    .newTop--logo{
      width: 190px;
      text-align: center;
    }
  }

  &Main{
    width: 700px;
    height: 2100px;
    background-color: #fff;
    &-Box{
      padding-left: 35px;
      width: 650px;
      height: 2100px;
      padding-top: 45px;
      &to{
        &Line{
          position: relative;
          top: -40px;
          width: 103%;
          background-origin: padding-box;
          border-top: 1px solid #f8f8f8;
        }
        &Line2{
          font-size: 14px;
          color: #888888;
          padding-top: 40px;
          padding-bottom: 40px;
          width: 103%;
          border-top: 1px solid #f8f8f8;

        }
        &text{
          font-weight: 300;
          margin: 15px 0 15px;
          font-size: 14px;
        }
        .newbtn{
          width: 100%;
          height: 300px;
          background-color: red;
        }
      }
    }
  }
  &footer{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-content{
      display: flex;
      li{
        margin-right: 20px;
        font-size: 9px;
      }
    }
    &-logo{
      margin-top: 40px;
      margin-bottom: 8px;
    }
    &-text{
      font-size: 10px;
    }
  }
.newfooter-content3{
  margin-right: 0px;
}

}
P{
  margin-top: 15px;
}

.pricemain{
  display: flex;
  justify-content: space-between;
  &-price{
    position: relative;
    right: -14px;
  }
}
.newspan_1{
  margin-left: 8px;
  width: 30px;
  height: 15px;
  background-color: #bfbfbf;
  font-size: 12px;
  padding: 0 4px;
  font-weight: bold;
  color: #fff;
}
.inputfield{
  height: 45px;
  width: 630px;
  margin-bottom: 35px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  &:focus {
    border-color: #34a1da;
  }
}
#inputin{
  padding: 10px 0 0 10px;
  border-radius: 4px;
}
input[type="text"],
textarea {
  outline: none;
  border: 1px solid #aaa;
  -webkit-transition: all .3s;
  transition: all .3s;
}
input[type="text"]:focus,
textarea:focus {
  border: 1px solid #34a1da;
}
.countform{
  margin: 10px -13px 45px 0 ;
  float: right;
  .float-right{
    color: #a5a5a5;
    font-size: 12px;
  }
}
.clear{
  clear: both;
}
#pricein{
  border-radius: 4px;
  margin-left: 5px;
  text-align: right;
  padding-right: 28px;
  width: 284px;
  height: 45px;
  margin-right: 33px;
}
#pricetag{
  line-height: 48px;
}


.newbtn{
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 630px;
  height: 250px;
  &-send{
    width: 360px;
    height: 50px;
    border-radius: 5px;
    background-color: #3ccace;
    color: #fff;
    font-weight: bold;
    border: none;
  }
  &-draft{
    width: 360px;
    height: 50px;
    border-radius: 5px;
    font-weight: bold;
    border: none;
  }
  &-text{
    width: 580px;
    font-size: 12px;
  }
  &-back{
    text-decoration: none;
    color: #3ccace;
  }
}
.newMain-Box__form{
  display: inline-block;
}