// hamada ここから

.header{
  width: auto;
  height: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &--main{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    width: 80vw;
    margin-bottom: 8px;
    &-img{
      width: 150px;
      padding-right: 5px;
    }
    &__form{
      width: 60vw;
      display: flex;
      align-items: center;
      justify-content: center;
      &-text{
        width: 55vw;
        height: 36px;
        padding: 0 0 0 5px;
      }
      &__btn{
        width: 36px;
        height: 36px;
        background-color: #3ccace;
        border: none;
      }
    }
  }
  
  &--content{
    font-weight: 400;
    font-size: 14px;
    width: 80vw;
    display: flex;
    justify-content: space-between;
    &left{
      display: flex;
      &1{
        padding: 0 50px 40px 0px ;
      }
    }
    &rigth{
      display: flex;
      &1{
        padding: 0 20px 30px 0px ;
      }
    }
  }
}
.header--contentrigth1{
  margin:  10px 30px 5px 0px;
  .login {
    width: 104px;
    height: 30px;
    border-radius: 5px;
    font-size: 14px;
    text-decoration: none;
    padding: 10px 12px;
    border: 1px solid #0295ee;
    color: #0295ee;
  }
  .login:hover {
    border: none;
    border: 1px solid #0295ee;
    background-color: #0295ee;
    color: #fff;
    font-weight: bold;
    transition: all 0.3s ease-out 0s;
  }
  .usernew {
    width: 104px;
    height: 30px;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 12px;
    border: 1px solid #3ccace;
    background-color: #3ccace;
    text-decoration: none;
    color: #fff;
  }
  .usernew:hover {
    
  }
}
.header--contentleft1{
  margin:  10px;
}



.main{
  &-top{
    padding-left: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 555px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-image: image-url('pict/bg-mainVisual-pict_pc.jpg');
    &1{
      padding-top: 90px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 60px;
      line-height: 1.2;
      color: #fff;
    }
    &2{
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 18px;
      color: #fff;
      line-height: 1.77778;
      margin: 16px 0 0 0;
    }
  } 
}

.mypage_btn{
  display: inline-block;
  text-decoration: none;
  margin-top: 10px;
  margin-right: 60px;
  color: #000;  
}
.header--main__form__serach{
  position: relative;
  top: 0px;
  right: 28px;
}

form{
  align-items: center;
  display: flex;
}


.main1{
  margin-top: 60px;
  height: 613px;
  text-align: center;
  width: 100%;
  &__text {
    font-size: 26px;
    line-height: 1.4;
    font-weight: bold;
    position: relative;
    margin-bottom: 10px;
  }
  &__bar{
    display: inline-block;
    width: 70px;
    border-bottom: 4px solid #3ccace;
    height: 5px;
    margin-bottom: 50px;
  }
  &box{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 10px 0 10px;
    &__btn{
    }
    &__image1{
      margin-right: 5vw;
      width: 300px;
      &btn1{
      }
      &_0{
  
        width: 300px;
      }
      &_1{
        margin-top: 15px;
        font-size: 24px;
        &1{
          color: #3ccace;
          font-weight: bold;
        }
      }
      &_2{
        margin-top: 15px;
        font-size: 18px;
        text-align: left;
      }
    }
    &__image2{
      margin-right: 5vw;
      position: relative;
      width: 300px;
      &_0{
        width: 300px;
      }
      &_1{
        margin-top: 15px;
        font-size: 24px;
        &1{
          color: #3ccace;
          font-weight: bold;
        }
      }
      &_2{
        margin-top: 15px;
        font-size: 18px;
        text-align: left;
      }
    }
    &__image3{
      position: relative;
      width: 300px;
      &_0{
        width: 300px;
      }
      &_1{
        margin-top: 15px;
        font-size: 24px;
        &1{
          color: #3ccace;
          font-weight: bold;
        }
      }
      &_2{
        margin-top: 15px;
        font-size: 18px;
        text-align: center;
      }
    }
  }
  
}
.AppBanner2{
  width: 97vw;
  height: 400px;
  background-position: center;
  background-image: image-url('pict/bg-topMiddleDl-pict.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  position: relative;
  bottom: -30px;
  &-img{
    &__title1{
      margin-top: 100px;
      font-size: 27px;
      font-weight: bold;
      line-height: 1.4;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      color: #fff;
    }
    &__title2{
      font-size: 18px;
      margin: 20px 0 10px;
      line-height: 1.5;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      color: #fff;
    }
  }
}

.main1box__imagebtn{
  font-size: 30px;
  color: #fff;
  width: 60px;
  height: 60px;
  background-color: #3ccace;
  line-height: 60px;
}

.main1box__image1{
  position: relative;
}

.main1box__imagebtn{
  position: absolute;
  top: 0;
  left: 0;
}

.appbtn{
  margin-top: 20px;
  width: 178px;
  margin-left: 5px;
}
.app{
  margin-right: 5px;
}
.maintext{
  font-weight: bold;
}
// hamada ここまで


//　岩谷ここから

.topKeyFeatures{
  padding: 60px 100px;
  background-color: #fff;
  .head {
    font-size: 27px;
    text-align: center;
    margin: 0 0 40px;
    font-weight: bold;
    margin-bottom: 25px;
    padding-bottom: 15px;
    position: relative;
  }
  .head::after {
    content: "";
    width: 70px;
    height: 4px;
    background-color: #3CCACE;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .items {
    max-width: calc(1040px + 20px);
    width: 100%;
    margin: 0 auto;
    display: flex;
    // flex-wrap: wrap;
    .item {
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      text-align: center;
      padding: 0 20px;
      &__img {
        width: 70%;
        margin: 0 auto;
        line-height: 120px;
      }
      &__subtitle {
        margin: 38px 0 10px;
        font-size: 19px;
        font-weight: bold;
      }
      &__detail {
        margin: 0 0 40px;
        font-size: 17px;
        font-weight: 200;
        text-align: left;
      }
    }
  }
}


.pickupContainer {
  padding: 80px 0 0;
  background-color: #f8f8f8;
  .head {
    text-align: center;
    font-size: 28px;
    line-height: 1.4;
    font-weight: bold;
  }
  .productBox{
    .productHead {
      text-align: center;
      .title{
        display: inline-block;
        text-decoration: none;
        font-size: 24px;
        color: #3CCACE; 
        font-weight: bold;
        
      }
    }
    .productLists {
      width: 780px;
      margin: 26px auto;
      display: flex;
      justify-content: space-around;
      .productList {
        width: 220px;
        display: inline-block;
        float: left;
        a {
          background-color: #fff;
          display: inline-block;
          text-decoration: none;
          .productList--img {
            width: 220px;
            height: 150px;
            position: relative;
            overflow: hidden;
            margin: 0;
            z-index: auto;
            img {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              width: 100%;
              z-index: auto;
              height: 150px;
              object-fit: cover;
            }
          }
          .productList--body {
            background-color: white;
            color: #333;
            padding: 16px;
            .name {
              overflow: hidden;
              line-height: 1.5;
              font-size: 16px;
              text-align: left;
            }
            .details {
              font-size: 16px;
              ul {
                display: flex;
                align-items: center;
                justify-content: space-between;
                list-style: none;
                li{
                  display: list-item;
                  text-align: -webkit-match-parent;
                  .fa {
                    display: inline-block;
                    font-size: inherit;
                    text-rendering: auto;
                    font:14px;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                  }
                }
              }
              p {
                font-size: 10px;
                text-align: left;
              }
            }
          }
        }
      }
    }
  }
}
​
.pickupContainer:last-child {
  padding-bottom: 80px;
}

.appBanner{
  background-image: url(/assets/pict/bg-appBanner-pict.jpg);
  background-position: 0px -50px;
  padding: 100px 40px;
  position: relative;
  background-size: cover;
  bottom: -30px;
    .inner {
    color: #fff;
    text-align: center;
    h2{
      font-size: 100%;
      font-weight: normal;
    }
    &__title {
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 24px;
      font-weight: bold;
      line-height: 1.4;
    }
    &__text {
      font-size: 35px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
    }
    &__icon {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 20px auto 0;
      a:first-child {
        margin-right: 10px;
        .aBtn {
          width: 180px;
        }
      }
      .gBtn {
        width: 180px;
      }
    }
  } 
}

.footer{
  padding: 60px 0;
  color: #fff;
  background-color: #272727;
  text-align: center;
  .contents {
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    .content {
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;
      &__head {
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;
      }
      ul {
        list-style: none;
      }
      a {
        color: #fff;
        text-decoration: none;
        font-size: 12px;
        line-height: 32px;
      }
    }
  }
  .footer__logo {
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
  }
  img {
    width: 100%;
    vertical-align: bottom;
  }
  p {
    font-size: 14px;
  }
}
​
.purchaseBtn {
  width: 120px;
  background: #3CCACE;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  &__text {
    color: #fff;
    display: block;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 5px;
  }
  &__icon {
    width: 60%;
  }
}
.purchaseBtn{
  width: 120px;
  height: 120px;
  background: #3CCACE;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  &__text {
    text-decoration: none;
    color: #fff;
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
  }
}

.breadCrumbs{
  width: 100%;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  position: relative;
  padding: 0 60px;
  .categories{
    padding: 17px;
    width: 100%;
    max-width: 1040px;
    font-size: 14px;
    margin: 0 auto;
    &__list {
      padding: 0 10px 0 0;
      float: left;
      a {
        text-decoration: none;
        color: #333;
      }
      &-bold{
        font-weight: bold;
      }
    }
  }
}



.detail{
  background-color: #f8f8f8;
  .main{
    padding: 40px;
    margin: 0 auto;
    width: 700px;
    .topContent{
      margin: 0 auto;
      .itemBox{
        background-color: #fff;
        padding: 24px 40px 40px;
        &__name{
          text-align: center;
          font-weight: bold;
          font-size: 24px;
        }
        &__body{
          margin: 16px 0 0;
          ul {
            display: flex;
            position: relative;
            li {
              display: flex;
              flex-direction: column;
              width: 560px;
              justify-content: center;
              margin: 0 auto;
              img {
                object-fit: cover;
                height: 346px;
                width: 100%;
                vertical-align: bottom;
              }
              ul {
                display: flex;
                justify-content: center;
                margin-top: 10px;
                li {
                  width: 25%;
                  margin: 0 10px 0 0;
                  img {
                    object-fit: cover;
                    height: 87px;
                    width: 100%;
                    vertical-align: bottom;
                  }
                }
              }
            }
          }
        }
        &__price{
          margin: 24px 0 24px;
          text-align: center;
          display: flex;
          flex-direction: column;
          span {
            font-size: 46px;
            font-weight: bold;
            margin: 0 10px 0 0;
          }
          &-detail{
            span {
              font-size: 16px;
              font-weight: normal;
            }
          }
        }
        &__itemDetail{
          line-height: 1.5;
          font-size: 18px;
          margin-bottom: 30px;
        }
        &__table{
          margin-bottom: 20px;
          table {
            width: 100%;
            height: 375px;
            border-collapse: collapse;
            border: 1px solid #f8f8f8;
            tbody {
              box-sizing: border-box;
              tr {
                box-sizing: border-box;
                th {
                  width: 20%;
                  background-color: #eee;
                  font-weight: 400;
                  padding: 8px;
                  border: 1px solid #dedede;
                  font-size: 14px;
                  text-align: center;
                }
                td {
                  width: 61%;
                  padding: 15px 15px;
                  border: 1px solid #dedede;
                  font-size: 14px;
                  a {
                    text-decoration: none;
                    color: #3CCACE;
                  }
                }
              }
            }
          }
        }
        &__optionalArea{
          display: flex;
          justify-content: space-between;
          &__favorite {
            margin: 10px 0 0;
            display: flex;
            li {
              margin-right: auto;
              padding: 6px 10px;
              border-radius: 40px;
              color: #3CCACE;
              border: 1px solid #ffb340;
            }
          }
          &__report{
            margin: 10px 0 0;
            display: flex;
            li {
              font-size: 14px;
              a {
                padding: 6px 10px;
                display: inline-block;
                border-radius: 4px;
                color: #333;
                border: 1px solid #333;
                text-decoration: none;
              }
            }
          }
        }
      }
      .commentBox{
        padding: 24px;
        background-color: #fff;
        margin: 10px 0;
        text-align: center;
        form {
          textarea {
            width: 100%;
            min-height: 104px;
            padding: 10px;
          }
        }
        p {
          padding: 8px;
          font-size: 14px;
          background-color: #f8f8f8;
          margin: 10px 0;
          text-align: left;
        }
        button {
          line-height: 48px;
          background-color: #3CCACE;
          border: 1px solid #3CCACE;
          color: #fff;
          width: 60%;
          font-size: 18px;
          border-radius: 100px;
          margin-top: 10px;
        }
      }
    }
    .links {
      list-style: none;
      height: 24px;
      &__before {
        float: left;
        a {
          text-decoration: none;
          color: #3CCACE;
        }
      }
      &__after {
        float: right;
        a {
          text-decoration: none;
          color: #3CCACE;
        }
      }
    }
    .relatedItems{
      a {
        display: block;
        margin: 24px 0 8px;
        color: #3CCACE;
        text-decoration: none;
        font-weight: bold;
        font-size: 22px;
        position: relative;
      }
      .productLists {
        display: flex;
        .productList {
          width: 220px;
          display: inline-block;
          float: left;
          a {
            background-color: #fff;
            display: inline-block;
            text-decoration: none;
            .productList--img {
              width: 220px;
              height: 150px;
              position: relative;
              overflow: hidden;
              margin: 0;
              z-index: auto;
              img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                z-index: auto;
                height: 150px;
                object-fit: cover;
              }
            }
            .productList--body {
              background-color: white;
              color: #333;
              padding: 16px;
              .name {
                overflow: hidden;
                line-height: 1.5;
                font-size: 16px;
                text-align: left;
              }
              .details {
                font-size: 16px;
                ul {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  list-style: none;
                  li{
                    display: list-item;
                    text-align: -webkit-match-parent;
                    .fa {
                      display: inline-block;
                      font-size: inherit;
                      text-rendering: auto;
                      font:14px;
                      -webkit-font-smoothing: antialiased;
                      -moz-osx-font-smoothing: grayscale;
                    }
                  }
                }
                p {
                  font-size: 10px;
                  text-align: left;
                }
              }
            }
          }
        }
      }
    }
  }
}
