.main__products__product__contents {
  display: flex;
  justify-content: space-evenly;
}
.main__products__product__contents__content__image__price {

  a {
    list-style: none;
    text-decoration: none;
    font-size: 40px;
    color: black;
    }
  
}